#apoiadores{

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background: linear-gradient(135deg, #f8bbd0 0%, #e452fa 100%);

}


.apoiadores_titulo{

    align-self: flex-start;
    font-size: clamp(0px, 15vw, 100px);
    margin-left: 100px;
    margin-bottom: -70px

}

.content_apoiadores{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 100px;

}

.pata {

    display: block;
    justify-items: center;
    align-items: center;
    width: clamp(350px, 40vw, 500px);
    height: clamp(350px, 40vw, 500px);
    color: black;

}

#pata01{

    margin-top: 100px;
    
}

.pata02_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pata03{

     margin-top: 100px;

}

.dedos {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 50%;

}

.dedo {

    display: block;
    justify-items: center;
    align-content: center;
    overflow: hidden;
    width: 35%;
    height: 55%;
    border-radius: 50%;

}

.cor01{

    background-color: #FFF176;

}

.cor02{

    background-color: #a8e6cf;
    
}

.cor03{

    background-color: #f8bbd0;

}

.dedo01 {
    transform: rotate(-25deg);
    margin-top: 40%;       
}

.dedo02 {
    transform: rotate(-15deg);
    margin-right: 2%;
}

.dedo03 {
    transform: rotate(15deg);
    margin-left: 2%;
}

.dedo04 {
    transform: rotate(25deg);
    margin-top: 40%;       
}

.almofada {

    display: block;
    justify-items: center;
    align-content: center;
    overflow: hidden;
    width: 55%;
    height: 45%;
    border-radius: 50%;
    
}

.nomesDedos {

    width: 70%;
    font-size: clamp(11px, 1.2vw, 14px);
    box-sizing: border-box;
    text-align: center;
    padding: 4%;
    line-height: 1;
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;

}

.nomesAlmofada {

    width: 70%;
    font-size: clamp(15px, 1.2vw, 20px);
    box-sizing: border-box;
    text-align: center;
    padding: 2%;
    line-height: 1;
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;

}

#text_mes_apoiadores_horizontal{

    display: flex;
    text-align: center;

}

#text_mes_apoiadores_vertical{

    display: none;
    text-align: center;

}

@media (max-width: 1500px) {

    #text_mes_apoiadores_horizontal{

        display: none;
        text-align: center;

    }

    #text_mes_apoiadores_vertical{

        display: flex;
        text-align: center;
        margin-bottom: -50px;

    }

    #pata03{

        margin-top: -50px;

    }

    .apoiadores_titulo{

        margin-bottom: 0px;

    }

}

@media (max-width: 700px) {

    .apoiadores_titulo{

        align-self: center;
        margin-left: 0px;


    }

    #pata03{

        margin-top: 0px;

    }

    #text_mes_apoiadores_vertical{

        display: flex;
        text-align: center;
        margin-bottom: -100px;

    }


}