#banner{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    gap: clamp(0px, 5vw, 100px);
    background: linear-gradient(135deg, #e452fa 0%, #f8bbd0 100%);


}

.banner_title{

    text-align: center;
    font-size: 50px;
    line-height: 1;

}

.img_banner{

    width: 300px;
    height: auto;

}

@media (max-width: 672px) {


    .banner_title{

    padding-top: clamp(10px, 10vw, 40px)

    }


}