#doe{

    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1000px;

}

#content_doe{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: linear-gradient(90deg, #f6edb2, #f598a8);
    width: 100%;
    height: 100%;
    gap: 50px;

}


.card_doe {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 400px;
    padding: 20px;
    margin-top: 40px;
    background: #fff;
    border: 6px solid #7e57c2;
    box-shadow: 12px 12px #e452fa;
    transition: transform 0.3s, box-shadow 0.3s;


}

.card_doe:hover {

  transform: translate(-5px, -5px);
  box-shadow: 17px 17px 0 #f8bbd0;

}

.chave_pix{

    font-size: clamp(20px, 2vw, 26px);
    text-align: center;

}

.card_title {

    font-size: 32px;
    font-weight: 900;
    color: #000;
    text-transform: uppercase;
    display: block;
    position: relative;
    overflow: hidden;

}

.card_title::after {

  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 90%;
  height: 3px;
  background-color: #000;
  transform: translateX(-100%);
  transition: transform 0.3s;

}

.card_doe:hover .card_title::after {

  transform: translateX(0);

}

@keyframes glitch {

  0% {
    transform: translate(2px, 2px);
  }
  25% {
    transform: translate(-2px, -2px);
  }
  50% {
    transform: translate(-2px, 2px);
  }
  75% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(2px, 2px);
  }

}

.glitch {

  animation: glitch 0.3s infinite;

}


.img_doe{

    width: 400px;
    height: 500px;
    margin-top: 50px;

}

.QR_doe{

    width: 250px;
    height: 250px;

}

.ondas_doe{

    width: 100%;
    object-fit: cover;

}

#onda_doe_cima{

    position: absolute;
    height: 250px;
    z-index: 1;

}

#onda_doe_baixo{

    position: absolute;
    transform: rotate(180deg);
    height: 250px;
    bottom: 0;

}

@media (max-width: 800px) {

    #content_doe{

        gap: 0px;

    }

    .img_doe{

        margin-bottom: 0px;

    }

.chave_pix{

    font-size: 22px;
    text-align: center;

}

}

@media (max-width: 700px) {

    #doe {

        height: auto;

    }

    #content_doe {

        gap: 0;
        align-items: center;
        padding-top: 200px; 
        padding-bottom: 200px;

    }

    .img_doe {

    width: clamp(200px,60vw,400px);
    height: clamp(300px,70vw,500px);
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 60px;

    }

    .card_doe {

        margin-top: 0;

    }

}