#imgInimigo{
    position: absolute;
    width: 10%;
    bottom: 9%;
    left: 90%;
    z-index: 3;
    visibility: "visible";
}

#imgVidaInimigo01{
    position: absolute;
    width: 5%;
    bottom: 27%;
    left: 92.5%;
    z-index: 3;
    visibility: "visible";
}

#imgVidaInimigo02{
    position: absolute;
    width: 5%;
    bottom: 37%;
    left: 92.5%;
    z-index: 3;
    visibility: "visible";
}

#imgVidaInimigo03{
    position: absolute;
    width: 5%;
    bottom: 47%;
    left: 92.5%;
    z-index: 3;
    visibility: "visible";
}


.animacaoInimigoMovendoFacil {
  animation: moverInimigo 2s linear forwards;
}

@keyframes moverInimigo {
  from { left: 90%; }
  to { left: 7%; }
}

.animacaoInimigoVidaFacil {
  animation: moverVidaInimigo 2s linear forwards;
}

@keyframes moverVidaInimigo {
  from { left: 92.5%; }
  to { left: 10%; }
}


#imgAtaque01{
    background-image: url("../imgs/inimigos/nivel01/Ataques/110.png"); /*Imagem que aparece para o jogador! */
    position: absolute;
    width: 6%; /*Tamanho do HitBox*/
    background-size: 110%;
    bottom: 15%;
    left: 85%;
    z-index: 3;
    visibility: "visible";
}

#imgAtaque02{
    background-image: url("../imgs/inimigos/nivel01/Ataques/110.png"); /*Imagem que aparece para o jogador! */
    position: absolute;
    width: 6%; /*Tamanho do HitBox*/
    background-size: 110%;
    bottom: 15%;
    left: 85%;
    z-index: 3;
    visibility: "visible";
}

#imgAtaque03{
    background-image: url("../imgs/inimigos/nivel01/Ataques/110.png"); /*Imagem que aparece para o jogador! */
    position: absolute;
    width: 6%; /*Tamanho do HitBox*/
    background-size: 110%;
    bottom: 15%;
    left: 85%;
    z-index: 3;
    visibility: "visible";
}

#imgAtaque04{
    background-image: url("../imgs/inimigos/nivel01/Ataques/110.png"); /*Imagem que aparece para o jogador! */
    position: absolute;
    width: 6%; /*Tamanho do HitBox*/
    background-size: 110%;
    bottom: 15%;
    left: 85%;
    z-index: 3;
    visibility: "visible";
}

#imgAtaque05{
    background-image: url("../imgs/inimigos/nivel01/Ataques/110.png"); /*Imagem que aparece para o jogador! */
    position: absolute;
    width: 6%; /*Tamanho do HitBox*/
    background-size: 110%;
    bottom: 15%;
    left: 85%;
    z-index: 3;
    visibility: "visible";
}


.animacaoInimigoAtaque01Facil {
  animation-name: ataqueInimigo;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.animacaoInimigoAtaque02Facil {
  animation-name: ataqueInimigo;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.animacaoInimigoAtaque03Facil {
  animation-name: ataqueInimigo;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.animacaoInimigoAtaque04Facil {
  animation-name: ataqueInimigo;
  animation-duration: 7s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.animacaoInimigoAtaque05Facil {
  animation-name: ataqueInimigo;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes ataqueInimigo {
  from { left: 80%; }
  to { left: 10%; }
}