.animacaoimgTeclaDificl11 {
  animation-name: animacaoimgTeclaDificl1;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.animacaoimgTeclaDificl12 {
  animation-name: animacaoimgTeclaDificl1;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.animacaoimgTeclaDificl13 {
  animation-name: animacaoimgTeclaDificl1;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

/* Estilo de ataque 01; */
@keyframes animacaoimgTeclaDificl1 {  
  0%   {left:85%; bottom: 15%;}
  10%  {left:77.78%; bottom: 30%;} /*85% - 7,22 */
  20%  {left:70.56%; bottom: 35%;} /*77,78% - 7,22 */
  30%  {left:63.34%; bottom: 30%;} /*70,56% - 7,22 */
  40%  {left:56.12%; bottom: 25%;} /* MEIO DA ANIMACAO PARA O TARGET! ASSIM 85(SAIDA LEFT NO INIMIGO) - 20(LEFT DO TARGET) =  65/9 (9 = QUANTIDADE DE ANIMACOES ATE O TARGET) = 7,22 (O QUE DEVO SUBTRAIR DE CADA ANIMACAO LEFT!) */ 
  50%  {left:48.9; bottom: 20%;} /* Vai diminuindo... */
  60%  {left:41.68%; bottom: 15%;}
  70%  {left:34.46%; bottom: 10%;}
  80%  {left:27.24%;  bottom: 15%;}
  90%  {left:20%; bottom: 15%;} /* TARGET FICA EM left:20%; bottom: 15% */
  95%  {left:13%; bottom: 15%;} /*PARA IR DO TARGET ATE O HEROI */
  100% {left:7%; bottom: 15%;}
}

.animacaoimgTeclaDificl21 {
  animation-name: animacaoimgTeclaDificl2;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.animacaoimgTeclaDificl22 {
  animation-name: animacaoimgTeclaDificl2;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
.animacaoimgTeclaDificl23 {
  animation-name: animacaoimgTeclaDificl2;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

/* Estilo de ataque 02; */
@keyframes animacaoimgTeclaDificl2 {  
  0%   {left:85%; bottom: 15%;}
  10%  {left:77.78%; bottom: 10%;} 
  20%  {left:70.56%; bottom: 5%;} 
  30%  {left:63.34%; bottom: 15%;} 
  40%  {left:56.12%; bottom: 20%;} 
  50%  {left:48.9; bottom: 30%;} 
  60%  {left:41.68%; bottom: 15%;}
  70%  {left:34.46%; bottom: 10%;}
  80%  {left:27.24%;  bottom: 15%;}
  90%  {left:20%; bottom: 15%;} /* TARGET FICA EM left:20%; bottom: 15% */
  95%  {left:13%; bottom: 15%;} /*PARA IR DO TARGET ATE O HEROI */
  100% {left:7%; bottom: 15%;}
}

.animacaoimgTeclaDificl31 {
  animation-name: animacaoimgTeclaDificl3;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
.animacaoimgTeclaDificl32 {
  animation-name: animacaoimgTeclaDificl3;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
.animacaoimgTeclaDificl33 {
  animation-name: animacaoimgTeclaDificl3;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

/* Estilo de ataque 03; */
@keyframes animacaoimgTeclaDificl3 {  
  from { left: 85%; }
  to { left: 7%; }
}

/* ======================================================== */

.animacaoimgTeclaDificl41 {
  animation-name: animacaoimgTeclaDificl4;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.animacaoimgTeclaDificl42 {
  animation-name: animacaoimgTeclaDificl4;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.animacaoimgTeclaDificl43 {
  animation-name: animacaoimgTeclaDificl4;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

/* Estilo de ataque 04; */
@keyframes animacaoimgTeclaDificl4 {  
  0%   {left:85%; bottom: 15%;}
  10%  {left:77.78%; bottom: 25%;}
  20%  {left:70.56%; bottom: 15%;}
  30%  {left:63.34%; bottom: 25%;} 
  40%  {left:56.12%; bottom: 15%;} 
  50%  {left:48.9; bottom: 25%;} 
  60%  {left:41.68%; bottom: 15%;}
  70%  {left:34.46%; bottom: 25%;}
  80%  {left:27.24%;  bottom: 20%;}
  90%  {left:20%; bottom: 15%;} /* TARGET FICA EM left:20%; bottom: 15% */
  95%  {left:13%; bottom: 15%;} /*PARA IR DO TARGET ATE O HEROI */
  100% {left:7%; bottom: 15%;}
}

.animacaoimgTeclaDificl51 {
  animation-name: animacaoimgTeclaDificl5;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.animacaoimgTeclaDificl52 {
  animation-name: animacaoimgTeclaDificl5;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
.animacaoimgTeclaDificl53 {
  animation-name: animacaoimgTeclaDificl5;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

/* Estilo de ataque 05; */
@keyframes animacaoimgTeclaDificl5 {  
  0%   {left:85%; bottom: 15%;}
  10%  {left:77.78%; bottom: 25%;} 
  20%  {left:70.56%; bottom: 30%;} 
  30%  {left:63.34%; bottom: 35%;} 
  40%  {left:56.12%; bottom: 30%;} 
  50%  {left:48.9; bottom: 25%;} 
  60%  {left:41.68%; bottom: 10%;}
  70%  {left:34.46%; bottom: 25%;}
  80%  {left:27.24%;  bottom: 20%;}
  90%  {left:20%; bottom: 15%;} /* TARGET FICA EM left:20%; bottom: 15% */
  95%  {left:13%; bottom: 15%;} /*PARA IR DO TARGET ATE O HEROI */
  100% {left:7%; bottom: 15%;}
}

.animacaoimgTeclaDificl61 {
  animation-name: animacaoimgTeclaDificl6;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
.animacaoimgTeclaDificl62 {
  animation-name: animacaoimgTeclaDificl6;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
.animacaoimgTeclaDificl63 {
  animation-name: animacaoimgTeclaDificl6;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

/* Estilo de ataque 06; */
@keyframes animacaoimgTeclaDificl6 {  
  0%   {left:85%; bottom: 15%;}
  10%  {left:77.78%; bottom: 10%;} 
  20%  {left:70.56%; bottom: 5%;} 
  30%  {left:63.34%; bottom: 10%;} 
  40%  {left:56.12%; bottom: 15%;}
  50%  {left:48.9; bottom: 20%;} 
  60%  {left:41.68%; bottom: 25%;}
  70%  {left:34.46%; bottom: 20%;}
  80%  {left:27.24%;  bottom: 15%;}
  90%  {left:20%; bottom: 15%;} /* TARGET FICA EM left:20%; bottom: 15% */
  95%  {left:13%; bottom: 15%;} /*PARA IR DO TARGET ATE O HEROI */
  100% {left:7%; bottom: 15%;}
}